<div class="col-md-2 vh-100 p-3" style="background:#111827;">

    <h4 class="text-center text-info mb-4">
        <i class="bi bi-camera-video"></i> Surveillance
    </h4>

    <div class="nav flex-column">

        <a class="p-2 text-light" href="/dashboard/">
            <i class="bi bi-speedometer2"></i> Dashboard
        </a>

        <a class="p-2 text-light" href="/dashboard/cameras/">
            <i class="bi bi-camera"></i> Cameras
        </a>

        <a class="p-2 text-light" href="/dashboard/faces/">
            <i class="bi bi-person-bounding-box"></i> Faces
        </a>

        <a class="p-2 text-light" href="/dashboard/vehicles/">
            <i class="bi bi-car-front"></i> Vehicles
        </a>

        <a class="p-2 text-light" href="/dashboard/alerts/">
            <i class="bi bi-exclamation-triangle"></i> Alerts
        </a>

        <a class="p-2 text-light" href="/dashboard/reports/">
            <i class="bi bi-file-earmark-bar-graph"></i> Reports
        </a>

    </div>
</div>
