{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">System Overview</h3>

<div class="row g-3">

    <div class="col-md-3">
        <div class="glass p-3">
            <h6>Cameras</h6>
            <h2>24</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="glass p-3">
            <h6>Faces</h6>
            <h2>132</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="glass p-3">
            <h6>Vehicles</h6>
            <h2>58</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="glass p-3">
            <h6>Alerts</h6>
            <h2 class="text-danger">6</h2>
        </div>
    </div>

</div>

{% endblock %}
